.catalog__content-wrapper {
  display: flex;
}

.catalog__filters-column {
  width: 210px;
}

.catalog__catalog-column {
  width: 100%;
}

.catalog__pagination {
  display: flex;
  list-style-type: none;
}
