.main-nav {
    background-color: rgba(30, 9, 6, 0.15);
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.main-nav__logo {

}

.main-nav__list {

}
