.site-list {
  display: flex;
  width: 510px; //
  height: 70px; //
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;

  list-style-type: none;
  // background-color: rgba(30, 9, 6, 0.5);
}

.site-list__item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
